*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --small: 576px;
    --medium: 768px;
    --large: 992px;
}

section {
    /* border: solid 1px red; */
    background-color: #FFFFFF;
}

.page-section h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    padding-bottom: .25rem;
    color: #47597E;
}

.page-section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10vh;
    color: #47597E;
}

hr {
    margin-bottom: 1.5rem;
}

.page-section p {
    font-family: 'Roboto', sans-serif;
    color: #B2AB8C;
    color: #47597E;
    font-weight: 800;
    /* font-size: 125%; */
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.page-section {
    padding: 6rem 0;
    background-color: whitesmoke;
}

a:hover {
    text-decoration: none;
}

/* Navbar */
.navbar {
    background-color: whitesmoke;
}

.navbar-toggler {
    color: #47597E;
}

.navbar-brand i {
    color: #47597E;
    font-size: 1.5rem;
}

.navbar-brand i:hover {
    color: #1d2533;
}

.navbar {
    box-shadow: 0 8px 6px -6px #1d253370;
}

.bi .bi-house:hover {
    color: #1d2533;
}

.nav-link {
    color: #47597E;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: #1d2533;
}

/* Header */

#header-block {
    display: block;
    height: 3.6rem;
}

/* Hero Section */

#hero {
    background-image: url(assets/hero-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero .container {
    display: grid;
    place-items: center;
    /* border: solid purple 1px; */
    margin-top: 9vh;
    margin-bottom: 9vh;
}

#hero .container #self-img {
    width: 14rem;
    border: solid #DBE6FD 10px;
    border-radius: 50%;
}

#hero .hero-section-heading {
    font-family: 'Oswald', sans-serif;
    line-height: 4rem;
    font-size: 3rem;
    color: #DBE6FD;
}

#hero .hero-section-subheading {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: #DBE6FD;
}

/* About Section */

#about .container img {
    border-radius: 15px 15px 15px 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 5vh;
}

.about-text-container {
    position: relative;
    /* border: solid 1px red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* On screens that are medium (768 px or less), set the content sizes */
@media screen and (min-width: 768px) {

}

/* On screens that are large (992px or less), set the content sizes */
@media screen and (min-width: 992px) {
    #about .container img {
        width: 60vw;
    }

    .about-text-container {
        font-size: 1.2rem;
        padding: 3rem;
    }
}

/* Skills Section */

#skills-container .row {
    justify-content: space-evenly;
    align-content: center;
}

.skill-container {
    width: 100%;
    margin-bottom: 4rem;
}

.skill-container .skill-icon {
    width: 75%;
    margin-bottom: 2vh;
    filter: grayscale(35%) sepia(35%);
}

.skill-text-container {
    width: 100%;
}

#bootstrap {
    background: linear-gradient(to right, rgba(85, 9, 156, .75), rgba(65, 6, 175, 0.75));
    border-radius: 20px 20px 20px 20px;
    /* background-color: rgb(65, 9, 156); */
}

#js {
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 20px 20px 20px;
}

/* Bootstrap breakpoints: 
    sxm: < 576px
    sm: >= 576px
    md: >= 768px
    lg: >= 992px
*/

/* On screens that are extra-small (less than 576px), set the content sizes */
@media screen and (max-width: 576px) {
    #skills-container .row {
        justify-content: center;
    }

    .skill-container .skill-icon {
        width: 35%;
    }

    .skill-text-container {
        padding: 0 50px 0 50px;
    }
}

/* On screens that are small (576 px or less), set the content sizes */
@media screen and (min-width: 576px) {
    #skills-container .row {
        justify-content: space-evenly;
    }

    .skill-container .skill-icon {
        width: 35%;
    }

    .skill-container {
        text-align: center;
    }

    .skill-text-container {
        padding: 0 100px 0 100px;
    }
}

/* On screens that are medium (768 px or less), set the content sizes */
@media screen and (min-width: 768px) {
    #skills-container .row {
        justify-content: space-evenly;
        align-content: center;
    }

    .skill-text-container {
        padding: 0 50px 0 50px;
    }
} 

/* On screens that are large (992px or less), set the content sizes */
@media screen and (min-width: 992px) {
    #skills-container .row {
        justify-content: space-evenly;
        align-content: center;
    }

    #skills-container .row .col-lg-1 {
        width: 200px;
    }

    .skill-container .skill-icon {
        width: 75%;
    }

    .skill-text-container {
        padding: 0;
    }
}

/* Inspiration Section */
.carousel-item img {
    height: 700px;
    width: 800px;
    object-fit: cover;
    filter: brightness(40%);
}

.carousel-caption {
    /* background-color: #47597e79; */
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 3rem;
}

.carousel-caption h5 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.carousel-caption p {
    font-size: 1.1rem;
}

.carousel-caption p, h5 {
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px #1d2533;
}

.carousel-control-next-icon {
    color: #47597E;
}

/* Contact Section */

.contact-methods {
    justify-content: center;
}

.contact-methods .col-md-1 {
    margin-inline: 3rem;
}

.contact-link {
    color: #47597E;
    font-size: 4rem;
}

.contact-link:hover {
    color: #1d2533;
}

/* Footer */

footer {
    height: 50px;
    background-color: #47597E;
}

footer .copywright {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-size: cover;
    font-size: 1.1rem;
    font-weight: 600;
}