*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --small: 576px;
    --medium: 768px;
    --large: 992px;
}

section {
    /* border: solid 1px red; */
    background-color: #FFFFFF;
}

.page-section h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    padding-bottom: .25rem;
    color: #47597E;
}

.page-section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #47597E;
}

hr {
    margin-bottom: 1.5rem;
}

.page-section p {
    font-family: 'Roboto', sans-serif;
    color: #B2AB8C;
    color: black;
}

.container {
    width: 100%;
    height: 100%;
    /* border: solid yellow 1px; */
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.page-section {
    padding: 6rem 0;
}

a:hover {
    text-decoration: none;
}

/* Navbar */
.navbar-toggler {
    color: #47597E;
}

.navbar-brand i {
    color: #47597E;
}

.navbar-brand i:hover {
    color: #1d2533;
}

.navbar {
    box-shadow: 0 8px 6px -6px #1d2533;
}
.bi .bi-house {
    color: #47597E;
}

.bi .bi-house:hover {
    color: #1d2533;
}

.nav-link {
    color: #47597E;
    font-weight: 600;
}

.nav-link:hover {
    color: #1d2533;
}

/* Header */

#header-block {
    display: block;
    height: 3.6rem;
}

/* Hero Section */

#hero {
    background-image: url(assets/hero-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero .container {
    display: grid;
    place-items: center;
    /* border: solid purple 1px; */
    margin-top: 9vh;
    margin-bottom: 9vh;
}

#hero .container #self-img {
    width: 14rem;
    border: solid #DBE6FD 10px;
    border-radius: 50%;
}

#hero .hero-section-heading {
    line-height: 4rem;
    font-size: 3rem;
    color: #DBE6FD;
}

#hero .hero-section-subheading {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: #DBE6FD;
}

/* About Section */

.about-section {
    background: green;
}

#about .container img {
    border-radius: 15px 15px 15px 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 5vh;
}

.about-text-container {
    position: relative;
    border: solid 1px red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(10px, 15px, 25px);
}

/* Skills Section */

#skills-container .row {
    justify-content: space-evenly;
    align-content: center;
    border: solid 1px purple;
}


.skill-container {
    border: solid 1px red;
}

.skill-container .skill-icon {
    border: solid 1px green;
    /* width: 100px; */
}

.skill-text-container {
    border: solid yellow 1px;
}


/* Bootstrap: 
    sm: >= 576px
    md: >= 768px;
    lg: >= 992px;
*/

/* On screens that are 992px or less, set the background color to blue */
/* @media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
} */
  
  /* On screens that are 600px or less, set the background color to olive */
  /* @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
} */

/* On screens that are extra-small (less than 576px), set the content sizes */
@media screen and (max-width: 576px) {
    #skills-container .row {
        justify-content: center;
        border: solid brown 1px;
    }

    #skills-container .skill-icon {
        width: 30vw;
    }

    #skills-container .skill-text-container {
        padding: 2.5vw 20vw 0 20vw;
    }
}

/* On screens that are small (576 px or less), set the content sizes */
@media screen and (min-width: 576px) {
    #skills-container .row {
        justify-content: space-evenly;
        border: solid orange 1px;
    }

    #skills-container .skill-icon {
        width: 25vw;
    }

    #skills-container .skill-text-container {
        padding: 2.5vw 15vw 0 15vw;
    }
}

/* On screens that are medium (768 px or less), set the content sizes */
@media screen and (min-width: 768px) {
    #skills-container .row {
        justify-content: space-evenly;
        align-content: center;
        border: solid 1px blue;
    }

    #skills-container .skill-icon {
        width: 15vw;
    }

    #skills-container .skill-text-container {
        padding: 2.5vw 10vw 0 10vw;
    }
} 

/* On screens that are large (992px or less), set the content sizes */
@media screen and (min-width: 992px) {
    #skills-container .row {
        justify-content: space-evenly;
        align-content: center;
        border: solid 1px green;
    }

    #skills-container .skill-icon {
        width: 8vw;
        /* height: 8vw; */
        margin-bottom: 2vh;
    }

    #skills-container .skill-container {
        /* width: 15vw; */
    }

    #skills-container .skill-text-container {
        /* width: 1 */

    }
}



/* Inspiration Section */
.carousel-item img {
    border-radius: 15px 15px 15px 15px;
    height: 700px;
    width: 800px;
    object-fit: cover;
}

/* Contact Section */

.contact-methods {
    justify-content: center;
}

/* Footer */

footer {
    height: 50px;
    background-color: #47597E;
}

footer .copywright {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-size: cover;
}