*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
}

section {
    position: relative;
    background-color: #ffffff;
}

.page-section h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 8rem;
    font-weight: 700;
    padding-bottom: 0.25rem;
    color: #47597e;
}

.page-section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 10vh;
    color: #47597e;
    text-shadow: 1.5px 1.5px #1d2533;
}

.page-section h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.75rem;
    margin-top: -2.5vh;
    margin-left: 6rem;
    font-weight: 700;
    margin-bottom: 10vh;
    color: rgba(0, 0, 0, 0.7);
}

.section-header {
    text-align: center;
}

.page-section p {
    font-family: 'Roboto', sans-serif;
    color: #b2ab8c;
    color: #47597e;
    font-weight: 800;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.page-section {
    padding: 6rem 0;
    background-color: whitesmoke;
}

a:hover {
    text-decoration: none;
}

/* Navbar */

.navbar {
    background-color: whitesmoke;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.navbar-toggler {
    color: #47597e;
}

.navbar-brand i {
    color: #47597e;
    font-size: 1.5rem;
}

.navbar-brand i:hover {
    color: #1d2533;
}

.navbar {
    box-shadow: 0 8px 6px -6px #1d253370;
}

.bi .bi-house:hover {
    color: #1d2533;
}

.nav-link {
    color: #47597e;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 7.5px 7.5px 7.5px 7.5px;
}

.nav-link.active {
    background-color: #1d2533;
    background-color: #47597e;
    color: #1d2533;
    color: whitesmoke;
}

.nav-link:hover {
    color: #1d2533;
}

/* Header */

#header-block {
    display: block;
    /* height: 3.6rem; */
    height: 52.4px;
}

/* Hero Section */

#hero {
    background-image: url(assets/hero-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero .container {
    display: grid;
    place-items: center;
    margin-top: 9vh;
    margin-bottom: 9vh;
}

#hero .container #self-img {
    width: 14rem;
    border: solid whitesmoke 10px;
    margin-bottom: 1.5rem;
    border-radius: 50%;
}

#hero .hero-section-heading {
    font-family: 'Oswald', sans-serif;
    line-height: 4rem;
    font-size: 3.5rem;
    text-shadow: 2px 2px black;
    color: whitesmoke;
}

#hero .hero-section-subheading {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75rem;
    text-shadow: 2px 2px black;
    color: whitesmoke;
}

/* About Section */

#about .about-img-container {
    display: flex;
}

#about h3 {
    margin-bottom: 1vh;
}

#about .container img {
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 18vh;
}

.about-text-container {
    position: relative;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Projects Section */

/* Skills Section */

#skills-container .row {
    justify-content: space-evenly;
    align-content: center;
}

#skills h3 {
    margin-left: 5rem;
}

.skill-container {
    width: 100%;
    margin-bottom: 4rem;
}

.skill-container .skill-icon {
    width: 75%;
    margin-bottom: 2vh;
    filter: grayscale(35%) sepia(35%);
}

.skill-text-container {
    width: 100%;
}

#bootstrap {
    background: linear-gradient(
        to right,
        rgba(92, 28, 153, 0.75),
        rgba(65, 6, 175, 0.75)
    );
    border-radius: 20px 20px 20px 20px;
}

#js {
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 20px 20px 20px;
}

/* Inspiration Section */
#inspiration h3 {
    margin-left: 12rem;
}

.carousel-item img {
    height: 700px;
    width: 800px;
    object-fit: cover;
    filter: brightness(40%);
    border-radius: 20px;
}

.carousel-caption {
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 3rem;
}

.carousel-caption h5 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.carousel-caption p {
    font-size: 1.1rem;
}

.carousel-caption p,
h5 {
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px #1d2533;
}

.carousel-control-next-icon {
    color: #47597e;
}

/* Contact Section */
@keyframes scaleContactMethods {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#contact h3 {
    margin-left: 8.5rem;
}

.contact-methods {
    justify-content: center;
}

.contact-form-container {
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
}

.contact-form-wrapper {
    width: clamp(350px, 55%, 35vw);
    height: 100%;
    border: solid #b2ab8c 5px;
    background-color: #47597e;
    padding: 20px;
    border-radius: 15px;
}

.contact-form-wrapper .row {
    margin-bottom: 1.5rem;
    justify-content: center;
}

.contact-form-wrapper h5 {
    text-align: left;
    margin-bottom: 0.8rem;
    color: whitesmoke;
    text-shadow: none;
    font-weight: 500;
    margin-left: 0.425rem;
}

.contact-form-wrapper input {
    min-height: 50px;
    border-radius: 5px;
    width: 95%;
    overflow: hidden;
}

.contact-form-wrapper textarea {
    min-height: 100px;
    width: 95%;
    margin-bottom: 1.5rem;
}

.contact-form-wrapper button {
    width: clamp(100px, 125px, 25%);
    height: 45px;
    font-weight: 700;
    color: #47597e;
    background-color: whitesmoke;
    outline: none;
}

.contact-form-wrapper button:hover {
    background-color: rgba(245, 245, 245, 0.658);
}

.github-container,
.linkedin-container,
.discord-container {
    /* width: 100%;
    height: 100%; */
    animation-name: scaleContactMethods;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}

.github-container:hover,
.linkedin-container:hover,
.discord-container:hover {
    animation-play-state: running;
}

.contact-methods .col-md-1 {
    margin-inline: 3rem;
}

.contact-link {
    color: #47597e;
    font-size: 4rem;
}

.contact-link:hover {
    color: #1d2533;
    cursor: pointer;
}

/* Footer */

footer {
    height: 50px;
    background-color: #47597e;
}

footer .copywright {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    background-size: cover;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Bootstrap breakpoints: 
    xsm: < 576px
    sm: >= 576px
    md: >= 768px
    lg: >= 992px
*/

/* On screens that are extra-small (less than 576px), set the content sizes */
@media screen and (max-width: 576px) {
    #hero .container #self-img {
        width: 11rem;
    }

    #hero .hero-section-heading {
        font-size: 12vw;
    }

    #hero .hero-section-subheading {
        font-size: 5vw;
    }

    .about-text-container {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        font-size: 0.85rem;
    }

    #skills-container .row {
        justify-content: center;
    }

    .skill-container .skill-icon {
        width: 35%;
    }

    .skill-text-container {
        padding: 0 50px 0 50px;
        font-size: 0.85rem;
    }

    .contact-link {
        font-size: 3rem;
    }
}

/* On screens that are small (576 px or less), set the content sizes */
@media screen and (min-width: 576px) {
    #hero .container #self-img {
        width: 12rem;
    }

    #hero .hero-section-heading {
        font-size: 9vw;
    }

    #hero .hero-section-subheading {
        font-size: 3.25vw;
    }

    .about-text-container {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        font-size: 0.85rem;
    }

    #skills-container .row {
        justify-content: space-evenly;
    }

    .skill-container .skill-icon {
        width: 35%;
    }

    .skill-container {
        text-align: center;
    }

    .skill-text-container {
        padding: 0 100px 0 100px;
        font-size: 0.8rem;
    }

    .contact-link {
        font-size: 3.75rem;
    }
}

/* On screens that are medium (768 px or less), set the content sizes */
@media screen and (min-width: 768px) {
    #hero .container #self-img {
        width: 13rem;
    }

    #hero .hero-section-heading {
        font-size: 7vw;
    }

    #hero .hero-section-subheading {
        font-size: 2.5vw;
    }

    #about .container img {
        width: 100%;
        margin-right: 2rem;
    }

    .about-text-container {
        font-size: 0.9rem;
    }

    #skills-container .row {
        justify-content: space-evenly;
        align-content: center;
    }

    .skill-text-container {
        padding: 0 50px 0 50px;
        font-size: 0.85rem;
    }

    .contact-link {
        font-size: 3.75rem;
    }
}

/* On screens that are large (992px or less), set the content sizes */
@media screen and (min-width: 992px) {
    #hero .container #self-img {
        width: 14rem;
    }

    #hero .hero-section-heading {
        font-size: 4.25vw;
    }

    #hero .hero-section-subheading {
        font-size: 1.75vw;
    }

    #about .container img {
        width: 80%;
    }

    .about-text-container {
        font-size: 1.1rem;
    }

    #skills-container .row {
        justify-content: space-evenly;
        align-content: center;
    }

    #skills-container .row .col-lg-1 {
        width: 200px;
    }

    .skill-container .skill-icon {
        width: 75%;
    }

    .skill-text-container {
        padding: 0;
    }

    .contact-link {
        font-size: 4rem;
    }
}
